In [1]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')
import seaborn as sns

Mounted at /content/drive

In [2]:
df = pd.read_csv('/content/drive/MyDrive/Expedia/Data/main.tsv.gz', compression='gzip', sep='\t')

In [3]:
df.head()

,user_id,search_id,search_timestamp,point_of_sale,geo_location_country,is_mobile,destination_id,checkin_date,checkout_date,adult_count,child_count,infant_count,room_count,sort_type,applied_filters,impressions
0,001bbff3030c95740d4c55bb72e823e9,541933a931216d270f53277c2de068d0,2021-07-02T19:38:00.000Z,2,1,0,898,2021-07-04,2021-07-05,2,0,0,1,RECOMMENDED,NaN,"1,5695234,1,4.0,250.0,2.0,1,0,3,0,0|2,1734546,..."
1,002ba2a7c74dbffc32e4568af230d49a,25b8ebecb15b8f3edb5eed36a1f699b4,2021-06-23T03:39:00.000Z,1,1,0,50,2021-09-10,2021-09-14,2,0,0,1,PRICE ASCENDING,NaN,"1,5151135,0,null,null,null,1,1,1,0,0"
2,00c5152ed6ef5b937e8320a260bde084,349c86ff1be41553878e01988ca209d1,2021-06-10T00:08:00.000Z,1,1,0,49,2021-07-07,2021-07-12,2,0,0,1,RECOMMENDED,NaN,"1,1624072,0,4.0,1250.0,4.0,1,1,2,1,0|2,5170759..."
3,00d5e2bca7962f67d5695e7e7b92feb8,d3b41f5d906b3f5e56bcafd4a7428634,2021-07-16T01:08:00.000Z,12,1,0,13,2021-08-25,2021-08-28,2,0,0,1,RECOMMENDED,NaN,"1,2391667,1,4.0,1625.0,5.0,0,0,5,0,0|2,4930059..."
4,013f92616fe583c4ba0c3919b69cf3d9,a359fd984e5ae5be64af5226dd1e9fe2,2021-07-07T20:49:00.000Z,1,1,0,206,2021-08-30,2021-09-04,1,0,0,1,RECOMMENDED,VIPONLY:FALSE,"1,6714720,1,5.0,225.0,3.0,1,0,5,0,0|2,5593294,..."

In [4]:
df.shape

(2577809, 16)

In [5]:
df1 = df.iloc[:5000]
df1.shape

(250000, 16)

In [ ]:
df[df['applied_filters'].notna()].head()

,user_id,search_id,search_timestamp,point_of_sale,geo_location_country,is_mobile,destination_id,checkin_date,checkout_date,adult_count,child_count,infant_count,room_count,sort_type,applied_filters,impressions
4,013f92616fe583c4ba0c3919b69cf3d9,a359fd984e5ae5be64af5226dd1e9fe2,2021-07-07T20:49:00.000Z,1,1,0,206,2021-08-30,2021-09-04,1,0,0,1,RECOMMENDED,VIPONLY:FALSE,"1,6714720,1,5.0,225.0,3.0,1,0,5,0,0|2,5593294,..."
5,0152236295041a611d45ed97353d73df,cc8875772f124695111939cc8c08e59a,2021-06-10T14:49:00.000Z,2,1,1,9,2021-06-10,2021-06-11,2,0,0,1,RECOMMENDED,PRICE:0,"1,3894329,0,5.0,1025.0,3.0,0,1,4,0,0|2,2785866..."
14,018e7d1f2484459af14daf74d8aabb95,dd89d215b0a608de71666da440e3fdcc,2021-06-18T21:20:00.000Z,6,4,0,1,2021-08-01,2021-08-06,2,0,0,1,RECOMMENDED,VIPONLY:FALSE,"1,3955773,0,4.0,225.0,3.0,1,0,2,0,0|2,3091054,..."
16,022618a80fb6c8614855c66204e0e03b,daabcde78180d12e2f99dc933ae43e3c,2021-06-28T13:29:00.000Z,11,4,0,143,2021-08-19,2021-08-22,6,0,0,1,RECOMMENDED,MEALPLAN:ALL_INCLUSIVE,"1,6934307,0,0.0,0.0,null,0,0,null,0,0|2,512506..."
17,023fc9d701c799c627bb9fc68fa55816,197e29f822ed8ef83b9d339b892ced5e,2021-06-19T02:20:00.000Z,3,2,0,7811,2021-06-19,2021-06-20,2,0,0,1,RECOMMENDED,VIPONLY:FALSE,"1,6365186,0,5.0,475.0,4.0,0,0,5,0,0|2,2063282,..."

In [ ]:
df[df['impressions'].isna()]

Empty DataFrame
Columns: [user_id, search_id, search_timestamp, point_of_sale, geo_location_country, is_mobile, destination_id, checkin_date, checkout_date, adult_count, child_count, infant_count, room_count, sort_type, applied_filters, impressions]
Index: []

In [ ]:
df['applied_filters'].notna().value_counts()

applied_filters
False    1728645
True      849164
Name: count, dtype: int64

In [ ]:
df['sort_type'].value_counts()

sort_type
RECOMMENDED                      2268515
PRICE ASCENDING                   243345
SPECIAL - DIRECT HOTEL SEARCH      17959
GUEST RATINGS DESCENDING           15399
STAR RATING DESCENDING             14468
DEALS                               9137
VACATION RENTAL                     8563
BEST_SELLER                          423
Name: count, dtype: int64

In [ ]:
len(df['applied_filters'].value_counts())

38914

In [ ]:
df['applied_filters'].value_counts()

applied_filters
VIPONLY:FALSE                                                                             334737
MEALPLAN:ALL_INCLUSIVE                                                                     44622
PROPERTYNAME:XXX                                                                           28925
AMENITY:17                                                                                 15148
AMENITY:72                                                                                 13998
                                                                                           ...
LODGING:CONDO|LODGING:VACATIONHOME|LODGING:APARTHOTEL|LODGING:APARTMENT|LODGING:VILLA          1
AMENITY:19|AMENITY:27|AMENITY:14|PAYMENTTYPE:FREE_CANCELLATION|MEALPLAN:FREE_BREAKFAST         1
AMENITY:19|AMENITY:27|AMENITY:66|PAYMENTTYPE:FREE_CANCELLATION|MEALPLAN:FREE_BREAKFAST         1
STAR:4.0|PRICE:4|POI:XXX                                                                       1
STAR:5.0|PRICE:4|POI:XXX                                                                       1
Name: count, Length: 38914, dtype: int64

In [ ]:
len(df['point_of_sale'].value_counts())

179

In [ ]:
len(df['geo_location_country'].value_counts())

219

In [ ]:
len(df['destination_id'].value_counts())

71026

In [ ]:
df['is_mobile'].value_counts()

is_mobile
0    1464515
1    1113294
Name: count, dtype: int64

In [ ]:
impressions_test = df['impressions'][0]

In [ ]:
impressions_test = impressions_test.split('|')

In [ ]:
impressions_test

['1,5695234,1,4.0,250.0,2.0,1,0,3,0,0',
 '2,1734546,1,4.0,1000.0,2.0,1,0,4,0,0',
 '3,5675938,0,5.0,700.0,3.0,1,0,3,0,0',
 '4,5695234,0,4.0,250.0,2.0,1,0,3,0,0',
 '5,2012023,0,4.0,625.0,2.0,0,0,1,0,0',
 '6,309921,0,5.0,525.0,3.0,1,0,5,0,0',
 '7,2722643,0,4.0,75.0,3.0,1,1,2,1,0',
 '8,1734546,0,4.0,1000.0,2.0,1,0,4,0,0',
 '9,1197530,0,4.0,250.0,3.0,1,0,2,1,0',
 '10,2951009,0,4.0,575.0,2.0,1,1,4,0,0',
 '11,253160,0,4.0,650.0,3.0,1,0,5,0,0',
 '12,4869920,0,4.0,225.0,3.0,1,0,1,4,0',
 '13,1329950,0,5.0,225.0,3.0,1,0,4,0,0',
 '14,5608470,0,4.0,1025.0,2.0,0,0,4,0,0',
 '15,1866033,0,5.0,775.0,3.0,0,0,5,0,0',
 '16,465816,0,4.0,425.0,3.0,1,0,4,0,0',
 '17,6939020,0,4.0,50.0,3.0,1,0,2,0,0',
 '18,4510738,0,4.0,275.0,3.0,1,0,1,0,0',
 '19,1117381,0,5.0,25.0,3.0,1,0,5,0,0',
 '20,6907341,0,4.0,325.0,3.0,1,0,3,0,0',
 '21,4418490,0,4.0,225.0,3.0,1,0,4,0,0',
 '22,6794958,0,3.0,225.0,2.0,1,0,1,0,0',
 '23,2815253,0,4.0,150.0,3.0,1,1,1,0,0',
 '24,5168834,0,3.0,950.0,2.0,1,0,2,0,0',
 '25,5190616,0,4.0,1725.0,3.0,1,0,5,0,0',
 '26,2119278,0,4.0,1025.0,3.0,1,0,5,0,0',
 '27,2296127,0,4.0,1025.0,3.0,1,0,4,0,0',
 '28,5192533,0,4.0,2050.0,3.0,1,0,5,0,0',
 '29,1040428,0,5.0,200.0,3.0,1,0,3,0,0',
 '30,6450799,0,4.0,900.0,2.0,1,0,1,0,0',
 '31,5385224,0,4.0,1025.0,3.0,0,0,2,0,0',
 '32,81866,0,3.0,1025.0,3.0,1,0,3,0,0',
 '33,3166094,0,4.0,325.0,3.0,1,0,4,0,0',
 '34,4537987,0,4.0,300.0,3.0,0,0,3,0,0',
 '35,1195167,0,4.0,1025.0,3.0,1,0,4,0,0',
 '36,3290227,0,4.0,1025.0,2.0,1,1,1,0,0',
 '37,1997696,0,4.0,950.0,3.0,1,0,3,0,0',
 '38,3172054,0,4.0,75.0,3.0,1,0,2,0,0',
 '39,1108919,0,3.0,1025.0,3.0,0,1,1,0,0',
 '40,1351944,0,4.0,25.0,3.0,1,0,3,0,0',
 '41,3370536,0,4.0,700.0,3.0,0,0,3,0,0',
 '42,961265,0,4.0,1000.0,3.0,1,0,2,0,0',
 '43,4583496,0,4.0,450.0,3.0,1,0,2,0,0',
 '44,5442751,0,5.0,650.0,3.0,1,1,2,0,0',
 '45,1295403,0,4.0,1025.0,4.0,1,0,3,0,0',
 '46,3555115,0,4.0,575.0,3.0,1,0,4,0,0',
 '47,6260111,0,4.0,925.0,3.0,1,0,2,0,0',
 '48,2513762,0,3.0,700.0,2.0,1,1,1,0,0',
 '49,2405166,0,3.0,600.0,3.0,1,0,2,0,0',
 '50,1153943,0,4.0,1025.0,3.0,1,1,1,0,0',
 '51,7027178,0,5.0,450.0,3.0,1,0,3,0,0',
 '52,253220,0,4.0,425.0,3.0,1,0,2,0,0',
 '53,6195037,0,4.0,275.0,3.0,1,0,1,0,0',
 '54,1909002,0,4.0,400.0,3.0,1,0,5,0,0',
 '55,5139269,0,4.0,1025.0,3.0,0,0,5,0,0',
 '56,643963,0,4.0,1025.0,3.0,1,0,5,0,0',
 '57,5103269,0,4.0,675.0,3.0,0,0,5,0,0',
 '58,1738468,0,4.0,1000.0,3.0,1,0,1,0,0',
 '59,2681566,0,4.0,950.0,4.0,0,0,null,0,0',
 '60,4647648,0,5.0,275.0,3.0,0,0,null,0,0',
 '61,1841572,0,4.0,775.0,3.0,0,0,null,0,0',
 '62,4911486,0,4.0,300.0,3.0,0,0,null,0,0',
 '63,6935321,0,3.0,775.0,2.0,0,0,null,0,0',
 '64,3983490,0,3.0,125.0,3.0,0,0,null,0,0',
 '65,1787762,0,4.0,325.0,2.0,0,0,null,0,0',
 '66,2853931,0,5.0,725.0,3.0,0,0,null,0,0',
 '67,4007670,0,3.0,300.0,2.0,0,0,null,0,0',
 '68,4500664,0,2.0,100.0,null,0,0,null,0,0',
 '69,3210534,0,4.0,200.0,3.0,0,0,null,0,0',
 '70,4353789,0,5.0,75.0,3.0,0,0,null,0,0',
 '71,340190,0,4.0,50.0,2.0,0,0,null,0,0',
 '72,4301452,0,5.0,50.0,4.0,0,0,null,0,0',
 '73,5102454,0,5.0,75.0,null,0,0,null,0,0',
 '74,3146984,0,0.0,0.0,4.0,0,0,null,0,0',
 '75,6844961,0,0.0,0.0,null,0,0,null,0,0',
 '76,5396462,0,5.0,25.0,null,0,0,null,0,0',
 '77,2236849,0,5.0,25.0,null,0,0,null,0,0',
 '78,2030671,0,5.0,25.0,null,0,0,null,0,0',
 '79,5649312,0,0.0,0.0,null,0,0,null,0,0',
 '80,6998707,0,0.0,0.0,null,0,0,null,0,0',
 '81,2677811,0,0.0,0.0,null,0,0,null,0,0',
 '82,981222,0,0.0,0.0,null,0,0,null,0,0',
 '83,6407573,0,5.0,25.0,null,0,0,null,0,0',
 '84,4314739,0,5.0,25.0,null,0,0,null,0,0',
 '85,5366216,0,3.0,25.0,null,0,0,null,0,0',
 '86,6025477,0,3.0,25.0,null,0,0,null,0,0',
 '87,5794401,0,0.0,0.0,null,0,0,null,0,0',
 '88,1166437,0,5.0,25.0,null,0,0,null,0,0',
 '89,2640312,0,0.0,0.0,null,0,0,null,0,0',
 '90,27265,0,5.0,25.0,null,0,0,null,0,0',
 '91,1893631,0,4.0,1025.0,2.0,0,0,null,0,0',
 '92,872757,0,4.0,2075.0,4.0,0,0,null,0,0',
 '93,5877295,0,4.0,550.0,2.0,0,0,null,0,0',
 '94,4985129,0,4.0,650.0,3.0,0,0,null,0,0',
 '95,5728460,0,5.0,1025.0,3.0,0,0,null,0,0',
 '96,1196036,0,4.0,1000.0,2.0,0,0,null,0,0',
 '97,1201229,0,4.0,350.0,3.0,0,0,null,0,0',
 '98,6866257,0,4.0,650.0,3.0,0,0,null,0,0',
 '99,6811418,0,4.0,750.0,3.0,0,0,null,0,0',
 '100,3026157,0,4.0,150.0,3.0,0,0,null,0,0']

In [6]:
ranking = []
clicks = []
bookings = []
for i in df1['impressions']:
  a = i.split('|')
  for j in a:
    j=j.split(',')
    ranking.append(int(j[0]))
    clicks.append(int(j[-2]))
    bookings.append(int(j[-1]))

In [ ]:
#Not Sure if this works properly
sublist_r = []
sublist_c = []
sublist_b = []
sublists_rank = []
sublists_click = []
sublists_book = []

for i, value in enumerate(ranking):
    if value == 1 and i != 0:
        sublists_rank.append(sublist_r)
        sublists_click.append(sublist_c)
        sublists_book.append(sublist_b)
        sublist_r = []
        sublist_c = []
        sublist_b = []
    else:
        sublist_r.append(value)
        sublist_c.append(clicks[i])
        sublist_b.append(bookings[i])

# Append the last sublist
sublists_rank.append(sublist_r)
sublists_click.append(sublist_c)
sublists_book.append(sublist_b)

In [ ]:
sublist_r = []
sublist_c = []
sublist_b = []
sublists_rank = []
sublists_click = []
sublists_book = []

for i, value in enumerate(ranking):
    sublist_r.append(value)
    sublist_c.append(clicks[i])
    sublist_b.append(bookings[i])

    # Check if the next value is 1 or if it's the last value
    if (i < len(ranking) - 1 and ranking[i + 1] == 1) or i == len(ranking) - 1:
        sublists_rank.append(sublist_r)
        sublists_click.append(sublist_c)
        sublists_book.append(sublist_b)
        sublist_r = []
        sublist_c = []
        sublist_b = []

In [23]:
#Not sure if this works properly
def compute_ndcg(rankings, clicks, bookings):
    """
    Compute Normalized Discounted Cumulative Gain (NDCG) for a list of rankings, clicks, and bookings.
    :param rankings: List of rankings for each search ID.
    :param clicks: List of clicks for each search ID.
    :param bookings: List of bookings for each search ID.
    :return: NDCG for each search ID and average NDCG.
    """
    ndcg_scores = []
    for rank, click, booking in zip(rankings, clicks, bookings):
        # Calculate relevance scores based on clicks and bookings
        relevance = np.where(booking > 0, 2 * booking, np.where(click > 0, click, 0))

        # Calculate Discounted Cumulative Gain (DCG)
        dcg = np.sum(relevance / np.log2(np.arange(2, len(rank) + 2)))

        # Calculate Ideal DCG (IDCG)
        ideal_relevance = sorted(relevance, reverse=True)
        idcg = np.sum(ideal_relevance / np.log2(np.arange(2, len(rank) + 2)))

        # Calculate NDCG
        if idcg == 0:  # Handle the case when all items have relevance score 0
            ndcg = 0
        else:
            ndcg = dcg / idcg
        ndcg_scores.append(ndcg)

    avg_ndcg = np.mean(ndcg_scores)
    return ndcg_scores, avg_ndcg

In [29]:
def compute_ndcg(rankings, clicks, bookings):
    """
    Compute Normalized Discounted Cumulative Gain (NDCG) for a list of rankings, clicks, and bookings.
    :param rankings: List of rankings for each search ID.
    :param clicks: List of clicks for each search ID.
    :param bookings: List of bookings for each search ID.
    :return: NDCG for each search ID and average NDCG.
    """
    ndcg_scores = []
    for rank, click, booking_list in zip(rankings, clicks, bookings):
        # Calculate relevance scores based on clicks and bookings
        relevance = []
        for booking, click_count in zip(booking_list, click):
            if booking > 0:
                relevance.append(2 * booking)
            elif click_count > 0:
                relevance.append(click_count)
            else:
                relevance.append(0)

        # Calculate Discounted Cumulative Gain (DCG)
        dcg = np.sum(relevance / np.log2(np.arange(2, len(rank) + 2)))

        # Calculate Ideal DCG (IDCG)
        ideal_relevance = sorted(relevance, reverse=True)
        idcg = np.sum(ideal_relevance / np.log2(np.arange(2, len(rank) + 2)))

        # Calculate NDCG
        if idcg == 0:  # Handle the case when all items have relevance score 0
            ndcg = 0
        else:
            ndcg = dcg / idcg
        ndcg_scores.append(ndcg)

    avg_ndcg = np.mean(ndcg_scores)
    return ndcg_scores, avg_ndcg

In [30]:
ndcg_scores, avg_ndcg = compute_ndcg(sublists_rank, sublists_click, sublists_book)

In [31]:
avg_ndcg

0.012125303282963898

In [16]:
np.arange(2,10)

array([2, 3, 4, 5, 6, 7, 8, 9])

In [14]:
len(ndcg_scores)

249122

In [15]:
#Booking = 2
#Click = 1
avg_ndcg

0.12658645925386358